<footer class="bg-white bottom-0 w-100" role="contentinfo">
<div class="flex flex-column justify-around pa3 pb5">
   <img src="/sponsors/icpc.webp" alt="NWERC" class="w-100 mw9 center">
    <div class="flex justify-between w-100 center sponsor">
        <div class="flex flex-column center">
            <img src="/sponsors/imc.webp" alt="IMC Trading">
            <span>Platinum Sponsor</span>
        </div>
        <div class="flex flex-column center">
            <img src="/sponsors/jane-street.webp" alt="Jane Street">
            <span>Gold Sponsor</span>
        </div>
        <div class="flex flex-column center">
            <img src="/sponsors/netcompany.webp" alt="Netcompany">
            <span>Gold Sponsor</span>
        </div>
        <div class="flex flex-column center">
            <img src="/sponsors/flowtraders.webp" alt="Flowtraders">
            <span>Gold Sponsor</span>
        </div>
    </div>
</div>
<div class="flex justify-between {{ .Site.Params.background_color_class | default "bg-black" }} pa3">
    <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
        &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
    </a>
    <div>{{ partial "social-follow.html" . }}</div>
</div>
</footer>
