<!--Adapted from https://www.liquidlight.co.uk/blog/create-an-event-schedule-with-html-table/-->

{{ range (where $.Site.Pages "Section" "schedule") }}
    {{ range .Pages.ByWeight }}
        {{ if and (eq .Params.day ($.Scratch.Get "day")) (eq .Params.start ($.Scratch.Get "time")) }}
            {{ $duration := time.ParseDuration .Params.duration }}
            <td colspan="{{ .Params.width }}" rowspan="{{ mul $duration.Hours 2}}" class="activity {{ .Params.people }}">
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                    {{ with .Params.location}}
                    <span>{{ . }}</span>
                    {{ end }}
                </a>
            </td>
        {{ end }}
    {{ end }}
{{ end }}