.sponsor {
    width: 100%;
}

.sponsorLabel {
    display: inline-flex;
    height: 1em;
    color: black;
    align-self: center;
}

.sponsor > div {
    padding-right: 10px;
}

.sponsor > img {
    max-height: 250px;
}
