.sponsor span {
    display: inline-flex;
    height: 1em;
    color: black;
    align-self: center;
    font-weight: bold;
}

div.sponsor {
    flex-flow: row wrap;
    gap: 10px;
}

.sponsor img {
    margin: 50px;
    max-width: 350px;
}